@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Architects+Daughter&family=Gloria+Hallelujah&family=Indie+Flower&family=Orbitron:wght@500&display=swap');

.first-page{
	width: 100%;
	height: 100vh;
	background-color: #1B263B;
	color: #CECFC9;

	h1{
		font-size: 70px;
		z-index: 2;
		position: absolute ;
		top: 35%;
		left: 30%;
        font-family: 'Orbitron', sans-serif;

	}
	p{
		font-size: 30px;
		z-index: 2;
		position: absolute ;
		top: 50%;
		left: 39%;
		font-family: 'Advent Pro', sans-serif;
		span{
			font-weight: bold;
		}
	}
	#clockdiv{
		font-family: sans-serif;
		display: inline-block;
		font-weight: 100;
		text-align: center;
		font-size: 30px;
		position: absolute;
		margin: 34% 0 0 40.5%;
		z-index: 3;

		
	}
	#clockdiv{
		left: 4.5%;
	}
	.cntdown{
		position: absolute;
		margin: 34% 0 0 46.5%;
		align-items: center;
		word-spacing: 30px;

	}
	#clockdiv > div{
		padding: 5px;
	    display: inline-block;
	}
	
	#clockdiv div > span{
		padding: 5px;
		display: inline-block;
	}
	
	.smalltext{
		padding-top: 5px;
		font-size: 16px;
	}

	.box {
		// background: linear-gradient(to right bottom, #295bba, #3150b4, #3a45ac, #4239a4, #492c9b, #3b35a0, #293da5, #0b44a8, #005bb2, #006fb4, #0080b1, #2590ad);
		background-size: cover;
		box-shadow: 0 0 100px #dd1d1a42;
		// width: 50%;
		// height: 100%;
		border-radius: 50%;
		top: 2%;
		position: absolute ;
		// align-items: center;
		left: 25%;
		z-index: 1;
		img{
			width: 800px;
			
		}
	   }
	   
	   .spin {
		 animation: spin 9000ms infinite linear 2400ms,
		  start 2400ms 1 ease-in;
	   }
	   
	   @keyframes start {
		from {
		 transform: rotate(0deg);
		}
		to {
		 transform: rotate(360deg);
		}
	   }
	   
	   @keyframes spin {
		from {
		  transform: rotate(0deg);
		}
		to {
		  transform: rotate(360deg);
		}
	}

.socialbtns {
	margin: 11% 13% 0 0;
	float: right;
	position: relative;
	z-index: 3;
	
    #cardbtn{
		color: #CECFC9;
		text-decoration: none;
		transition: 0.5s;
		&:hover{
			color: #DD1C1A;
		}
	}
	ul {
		margin: 0;
		padding: 5px;
	}
	li {
		margin: 0;
		padding: 5px;
		list-style: none outside none;
		display: inline-block;
	.fa {
		width: 45px;
		height: 45px;
		color: #CECFC9;
		background-color: rgba(255, 255, 255, 0.246);
		padding-top: 15px;
		border-radius: 50%;
		transition: 0.5s;	
	  &:hover{
		  background-color: #DD1C1A;
		  text-decoration: none;
	  }
	}
	.fas{
		font-size: 23px;
		position: absolute;
		margin: -10px 0 0 40px;
        color: #E0E1DD;
		&:hover{
			transition: 0.5s;
			color: #DD1C1A;
		}
	}
}
}
}

@media only screen and (max-width: 1350px) {
	.first-page{
		img{
			display: none;
		}
	}
}


@media only screen and (max-width: 768px) {

	.first-page{
		width: 100%;
		.box{
			// top: 20%;
			// left: 20%;
			// width: 70%;
			// height: 70%;
			display: none;
			img{
				display: none !important;
			}
		}
		h1{
			font-size: 50px;
			top: 65%;
			left: 37%;
			transform: rotate(90deg);
			width: 100%;

		}
		p{
			font-size: 20px;
			left: 35%;
		}
		#clockdiv{
			display: none;
		}
		.socialbtns{
	        margin: -8% 0 0 0;
			.fa-shopping-basket{
				display: none;
			}
		}
		.leftside{
			margin: 13% 0 0 0;
		}

		.cntdown{	
			margin: 70% 0 0 46.5%;
		}
		
	}

}

@media only screen and (max-width: 360px) {
	.first-page{
		width: 100%;
		h1,p,img{
			display: none;
		}
	}
}